---
import Icon from '../components/Icon.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<h1 class="">Hola</h1>
	<Icon name='search' className='text-icon-light dark:text-icon-dark' size='xl'/>
</Layout>

